<h1> Url Shortener</h1>
<h3>Shorten your urls completely free, forever...</h3>
<div id="error-msg">
    <%- include("error-message.ejs") %>
</div>
<form action="/" method="POST">
    <div id="url-text">
        <label for="url">Enter your url</label>
        <input type="text" name="url">
    </div>
    <div id="submit">
        <button type="submit">Shorten</button>
    </div>
    
</form>
<div id="url-msg">
    <%- include("shortened-url-msg.ejs") %>
</div>
